<etwin-bar></etwin-bar>
<header>
  <h1><a routerLink="/">Eternal-Twin</a></h1>
</header>

<div class="star-bg"> </div>

<!--   THE FOLLOWING PART CONTAINS THE STILL-UNUSED MAIN MENU   -->

<div id="headBar">
  <nav id="main-menu">
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" class="label-toggle">Menu</label>
    <ul>
      <li><a routerLink="/">Nexus</a></li>
      <li><a routerLink="/">Games</a></li>
      <li><a routerLink="/forum">Forum</a></li>
      <li><a routerLink="/">Groups</a></li>
      <li><a routerLink="/" class="disabled">Funding</a></li>
    </ul>
    <div class="npc">
      <img src="https://data.twinoid.com/img/characters/dino_mandragore.png" alt="Dino">
    </div>
  </nav>
</div>

<div class="content">
  <ng-content></ng-content>
</div>

<footer>
  <div class="languages">
    <a lang="de-DE" href="/?l=de">Deutsch</a> -
    <a lang="en-US" href="/?l=en">English</a> -
    <a lang="eo" href="/?l=eo">Esperanto</a> -
    <a lang="es-SP" href="/?l=es">Español</a> -
    <a lang="fr-FR" href="/?l=fr">Français</a>
  </div>
</footer>
