<a [routerLink]="link" [queryParams]="{p: 1}">
  First
</a>
<a [routerLink]="link" [queryParams]="{p: page1 > 1 ? page1 - 1 : 1}">
  Previous
</a>
<span>
  Page {{page1}} / {{pageCount}}
</span>
<a [routerLink]="link" [queryParams]="{p: page1 < pageCount ? page1 + 1 : pageCount}">
  Next
</a>
<a [routerLink]="link" [queryParams]="{p: pageCount}">
  Last
</a>
