<etwin-main-layout>
  <h1 i18n="Title of the forum section@@home.forumTitle">
    Forum
  </h1>
  <ng-container *ngIf="sections$ | async as sections">
    <ul>
      <li *ngFor="let section of sections.items">
        <a [routerLink]="['', 'forum', 'sections', section.id]">
          <span class="name">{{section.displayName}}</span>
          <span class="count">{{section.threads.count}}</span>
        </a>
      </li>
    </ul>
  </ng-container>
</etwin-main-layout>
