<etwin-main-layout>
  <ng-container *ngIf="thread$ | async as thread">
    <ng-container [ngSwitch]="thread !== FORUM_THREAD_NOT_FOUND">
      <ng-container *ngSwitchCase="true">
        <h1>{{thread.title}}</h1>
        <nav>
          <a [routerLink]="['', 'forum', 'sections', thread.section.id]">
            <span class="name">{{thread.section.displayName}}</span>
          </a>
        </nav>
        <ol class="post-list">
          <li *ngFor="let post of thread.posts.items">
            <etwin-forum-post [post]="post" [id]="post.id"></etwin-forum-post>
          </li>
        </ol>
        <ng-container *ngIf="isAuthenticated$ | async; else unauthenticated">
          <a [routerLink]="['', 'forum', 'threads', thread.id, 'reply']">Reply</a>
        </ng-container>
        |
        <etwin-pagination [link]="['', 'forum', 'threads', thread.id]" [page1]="floor(thread.posts.offset / thread.posts.limit) + 1" [pageCount]="ceil(thread.posts.count / thread.posts.limit)"></etwin-pagination>

<!--        <a routerLink="/login" [queryParams]="{method: 'hammerfest', next: next}" class="btn" *ngIf="method !== AuthMethod.Hammerfest">-->
<!--          <img src="/assets/login-methods/hammerfest.png"/>-->
<!--          <ng-container i18n="@@login.method.hammerfest">Sign in with Hammerfest</ng-container>-->
<!--        </a>-->

        <ng-template #unauthenticated>
          <a [routerLink]="['', 'login']">Sign in to reply</a>
        </ng-template>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h1>Forum section not found</h1>
      </ng-container>
    </ng-container>
  </ng-container>
</etwin-main-layout>
