<etwin-main-layout>
  <ng-container *ngIf="thread$ | async as thread">
    <ng-container [ngSwitch]="thread !== FORUM_THREAD_NOT_FOUND">
      <ng-container *ngSwitchCase="true">
        <h1>Post a reply for <em>{{thread.title}}</em></h1>
        <form
          method="POST"
          enctype="application/x-www-form-urlencoded"
          action="/actions/new-post"
          [formGroup]="newPostForm"
          (ngSubmit)="onSubmit($event)"
        >
          <input type="hidden" name="thread_id" formControlName="threadId" required="required" [value]="thread.id"/>
          <label>
            <span i18n="Body of the reply@@postBody">Body</span>
            <textarea name="body" class="field" formControlName="body"></textarea>
          </label>
          <input type="submit" class="btn primary" name="register" [disabled]="newPostForm.invalid || pendingSubscription !== null" i18n-value="@@forum.newPost.submit" value="Post the reply"/>
          <div *ngIf="serverError" class="error" i18n="@@newPost.unknownError">
            Post creation error: unknown server error on creation.
          </div>
        </form>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <h1>Forum thread not found</h1>
      </ng-container>
    </ng-container>
  </ng-container>
</etwin-main-layout>
